:root {
    --slideback: #fafafa;
    --slideborder: #78877e;

    --boxborder: #526058;

    --navback: #78877e;

    --headerback: #2a3830;
    --siteback: #fdfdfd;

    --h1: #fdfdfd;
    --h2: #53705f;
    --h3: #526058;

    --link: black;
    --linkvis: black;
    --linkfocus: black;
    --linkhover: black;
    --link: active;

}

body {
    margin: 0px;
    padding: 0px;

    margin-top: 0px;
}

.navbar {
    position: sticky;
    text-align: right;
    top: 100%;
    transform: translateY(-50%);
    font-weight: bold;
}

nav a {
    text-decoration: none;
    background: white;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}


nav a:focus {
    text-decoration: none;
    background: #bae498;
}

/* hover effect */
nav a:hover {
    color: black;
    background: var(--navback);
    white-space: wrap;
    overflow: visible;
    border-radius: 5px;
}

nav ol {
    list-style-type: none;

    padding: 0;

    li {
        margin: 20px;
        padding: 10px;
    }

}


.sidebar {
    position: fixed;
    width: 10%;
    height: 100%;
    background: var(--navback);
    border: 6px solid var(--slideborder);
    font-size: 0.65em;
}


article {
    position: relative;
    width: 85%;
    float: right;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;

}

header {
    width: 90%;
    float: right;
    text-align: center;
    background: var(--headerback);
    color: var(--h1);
 p{
    color: var(--h1);
    }
 .subtitle{
    color: var(--h1);

    font-size: 30px;
    }
 h1 {

    font-size: 60px;

}
}

html {
    color: #1a1a1a;
    background-color: var(--siteback);
}

.frame {
    background: var(--slideback);
    border: 6px solid var(--slideborder);
    border-radius: 25px;
    padding: 20px;
    width: 85%;
    float: right;
    margin: 10px;
}

.block{
    border: 3px solid var(--boxborder);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 15px;
}



hgroup{
    p {
        font-weight: bold

    }

}



h2 {

    font-size: 24px;

    color: var(--h2);

}


h3 {

    font-size: 22px;

    color: var(--h3);

}

.subtitle{
    font-size: 16px;
    color: var(--h3);
}

 }